flows.json
[{"id":"991d4c3e.59c22","type":"tab","label":"Smart Agriculture IOT Project","disabled":false,"info":""},{"id":"45c28c18.562934","type":"ibmiot in","z":"991d4c3e.59c22","authentication":"apiKey","apiKey":"bc528ad3.846108","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"iot","applicationId":"","deviceType":"IOTdevice1","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["12ef6aee.fea165","24438d43.2ebd62","40ee6a30.3cd4f4","9b9e7d7c.82ad8"]]},{"id":"12ef6aee.fea165","type":"debug","z":"991d4c3e.59c22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"24438d43.2ebd62","type":"function","z":"991d4c3e.59c22","name":"Temp","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["12ef6aee.fea165","a337fd5c.ebedb"]]},{"id":"40ee6a30.3cd4f4","type":"function","z":"991d4c3e.59c22","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["12ef6aee.fea165","5d625f14.b95d4"]]},{"id":"9b9e7d7c.82ad8","type":"function","z":"991d4c3e.59c22","name":"Soil Moisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["12ef6aee.fea165","38980c1d.21b794"]]},{"id":"a337fd5c.ebedb","type":"ui_gauge","z":"991d4c3e.59c22","name":"","group":"b68582fc.d99ef","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature gauge","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#2ec22e","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"5d625f14.b95d4","type":"ui_gauge","z":"991d4c3e.59c22","name":"","group":"b68582fc.d99ef","order":0,"width":"6","height":"4","gtype":"gage","title":"Humidity gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#3a4acb"],"seg1":"","seg2":"","x":700,"y":280,"wires":[]},{"id":"38980c1d.21b794","type":"ui_gauge","z":"991d4c3e.59c22","name":"","group":"b68582fc.d99ef","order":1,"width":"6","height":"4","gtype":"gage","title":"Moisture gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":320,"wires":[]},{"id":"f8a33bde.1799c8","type":"ibmiot out","z":"991d4c3e.59c22","authentication":"apiKey","apiKey":"49ee76fb.400d28","outputType":"cmd","deviceId":"1234","deviceType":"IOTdevice1","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT output","service":"registered","x":540,"y":80,"wires":[]},{"id":"4055abe4.68c8e4","type":"ui_button","z":"991d4c3e.59c22","name":"","group":"54aa3f95.f45b6","order":1,"width":"3","height":"2","passthru":false,"label":"Motor on","tooltip":"","color":"Green","bgcolor":"Violet","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":120,"y":80,"wires":[["f8a33bde.1799c8","12ef6aee.fea165","19a376aa.76ec99"]]},{"id":"69d4de6f.a5d5e","type":"ui_button","z":"991d4c3e.59c22","name":"","group":"54aa3f95.f45b6","order":2,"width":"3","height":"2","passthru":false,"label":"Motor off","tooltip":"","color":"Red","bgcolor":"Violet","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":120,"y":120,"wires":[["f8a33bde.1799c8","12ef6aee.fea165","19a376aa.76ec99"]]},{"id":"b76e3191.5d40d","type":"inject","z":"991d4c3e.59c22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["ad041251.61a7"]]},{"id":"ad041251.61a7","type":"http request","z":"991d4c3e.59c22","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kottayam, IN&appid=4a2a69044bd3e34252a1aa2d20deff7a","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":440,"wires":[["c20c8494.cea348","45be6c1e.1e4444","aa87c802.743288","7c3468eb.da18c8","6238c526.b719ac","87884133.823f8"]]},{"id":"c20c8494.cea348","type":"debug","z":"991d4c3e.59c22","name":"Temp ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.temp","targetType":"msg","x":650,"y":440,"wires":[]},{"id":"45be6c1e.1e4444","type":"debug","z":"991d4c3e.59c22","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.humidity","targetType":"msg","x":660,"y":480,"wires":[]},{"id":"aa87c802.743288","type":"debug","z":"991d4c3e.59c22","name":"Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.main.pressure","targetType":"msg","x":660,"y":520,"wires":[]},{"id":"f5be308.81ae8d","type":"ui_text","z":"991d4c3e.59c22","group":"b68582fc.d99ef","order":4,"width":"0","height":"0","name":"","label":"Weather Conditions","format":"{{msg.payload}}","layout":"row-center","x":690,"y":560,"wires":[]},{"id":"e366cee7.f934","type":"ui_text","z":"991d4c3e.59c22","group":"b68582fc.d99ef","order":4,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-center","x":670,"y":600,"wires":[]},{"id":"c003aabd.532538","type":"ui_text","z":"991d4c3e.59c22","group":"b68582fc.d99ef","order":5,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-center","x":660,"y":640,"wires":[]},{"id":"335bd51e.35e04a","type":"ui_text","z":"991d4c3e.59c22","group":"b68582fc.d99ef","order":6,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-center","x":660,"y":680,"wires":[]},{"id":"7c3468eb.da18c8","type":"function","z":"991d4c3e.59c22","name":"Temp Func","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[["e366cee7.f934"]]},{"id":"6238c526.b719ac","type":"function","z":"991d4c3e.59c22","name":"Hum Func","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["c003aabd.532538"]]},{"id":"87884133.823f8","type":"function","z":"991d4c3e.59c22","name":"Pressure Func","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":680,"wires":[["335bd51e.35e04a"]]},{"id":"19a376aa.76ec99","type":"ui_text","z":"991d4c3e.59c22","group":"54aa3f95.f45b6","order":2,"width":0,"height":0,"name":"","label":"Motor status","format":"{{msg.payload.command}}","layout":"row-center","x":530,"y":40,"wires":[]},{"id":"bc528ad3.846108","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b68582fc.d99ef","type":"ui_group","z":"","name":"Data","tab":"2620c54b.957f3a","order":1,"disp":true,"width":"18","collapse":false},{"id":"49ee76fb.400d28","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"54aa3f95.f45b6","type":"ui_group","z":"","name":"Motor Controls","tab":"84ee565d.3102d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2620c54b.957f3a","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"84ee565d.3102d8","type":"ui_tab","z":"","name":"Control Panel","icon":"dashboard","disabled":false,"hidden":false}]